*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
@font-face { font-family: bubble; src:url(../Assets/fredoka-one.one-regular.ttf); } 


body {  
    background-color: rgba(255, 255, 255, 0.8); /* Use RGBA for transparency */
    background-size: 44px 44px;
    background-image: repeating-linear-gradient(0deg, #e7e8f9, #e7e8f9 2.2px, #ffffff 2.2px, #ffffff);
}

header{
    background-color: black;
    color: white;
    padding: 20px;
}

.game{
    background-color: white;
    width: 80%;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgba(144, 144, 144, 0.437);
}

h2{
    font-family:bubble ;
    font-size: xx-large;
}